@page "/createuser"

@inject IUserService dataservice

<h3>Create User</h3>
<br />

<div class="row">
    <div class="col-md-4">

        <EditForm Model="_displayUser" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <p>
                <label>First Name</label>
                <InputText class="form-control" @bind-Value="_displayUser.FirstName" />
            </p>

            <p>
                <label>Last Name</label>
                <InputText class="form-control" @bind-Value="_displayUser.LastName" />
            </p>

            <p>
                <label>Date of Birth</label>
                <InputDate class="form-control" @bind-Value="_displayUser.DoB" />
            </p>

            <p>
                <label>Email Address</label>
                <InputText class="form-control" @bind-Value="_displayUser.EmailAddress" />
            </p>

            <button class="btn btn-primary" type="submit">Submit</button>
        </EditForm>
    </div>
</div>
