@inject IUserData userService

<EditForm Model="@_user" OnValidSubmit="HandleValidSubmit" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label class="col-form-label">Id</label>
        <span>@_user.Id</span>
    </div>

    <div>
        <label class="col-form-label">First Name</label>
        <InputText class="form-control" @bind-Value="_user.FirstName" />
    </div>
    <br />

    <div>
        <label class="col-form-label">Last Name</label>
        <InputText class="form-control" @bind-Value="_user.LastName"/>
    </div>
    <br />

    <div>
        <label class="col-form-label">Date of Birth</label>
        <InputDate class="form-control" @bind-Value="_user.DoB"/>
    </div>
    <br />

    <div>
        <label class="col-form-label">Email Address</label>
        <InputText class="form-control" @bind-Value="_user.EmailAddress"/>
    </div>
    <br />

    <button class="btn btn-primary form-control" type="submit">Update User</button>

</EditForm>

